@charset "utf-8";

// Customization
@import "../../node_modules/bulma/sass/utilities/initial-variables";
@import "../../node_modules/aos/dist/aos.css"; 
@import '../../node_modules/tiny-slider/src/tiny-slider.scss';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');


//Colores CC
$turquoise:#500ADA;
$turquoise-invert: #fff;
$link: #FFAA0F;


// Update the sans-serif font family
$family-sans-serif: 'Montserrat', sans-serif;

$primary: $turquoise;
$success: $turquoise;
$primary-invert: $turquoise-invert;


@import "../../node_modules/bulma/bulma"; 
@import "../../node_modules/bulma-pageloader/dist/css/bulma-pageloader.sass";
@import "../../node_modules/@creativebulma/bulma-tooltip/src/sass/index.sass";
@import "../../node_modules/bulma-helpers/bulma-helpers.sass"; 

/** Fixing Background */

.jarallax {
    position: relative;
    z-index: 0;
}
.jarallax > .jarallax-img {
    position: absolute;
    object-fit: cover;
    /* support for plugin https://github.com/bfred-it/object-fit-images */
    font-family: 'object-fit: cover;';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

html {
    scroll-behavior: smooth;
}

/** Start Actual Styles */

.image.is-128x128 {
    margin:0 auto;
    display:flex;
    align-items: center;
    justify-content: center;
}

$radius: 20px;

.card, .notification {
    border-radius: $radius;
    overflow: hidden;
}

.box {
    border-radius: $radius;

    &.has-border-link {
        border: solid 2px $link;
    }
}

.is-overlay {
    background: rgba(255,255,255,0.8);
    position: fixed;

    &.has-alert {
        display:flex;
        align-items:center;
        justify-content:center;
        z-index: 9999999999;
    }
}

.form#send-container {
    width: 100%;
}

#message-container {
    height: 41vh;
    overflow-y: scroll;

    &::-webkit-scrollbar {
        width: 2px;
    }
}

#iframe-container {
    iframe {
        border-radius: 10px;
        width: 100%; 
        height: 400px;
    }
}

.admin-dashboard {
    .columns{
        .card {
            height: 63vh;
            overflow-y: scroll;
        
            &::-webkit-scrollbar {
                width: 2px;
            }
        }
    }
}

.card-footer {
    padding-top: 20px;
}